[tester]
;the username for the created cluster
username = USER
;set cloudType as aws or gcp
cloudType = aws/gcp
;KeyName is for aws only
KeyName = YOUR KEYPAIR NAME
;project_name is for gcp only
project_name = cloudyclusterfirebasedev
;sourceimage for gcp
sourceimage = projects/cloudyclusterfirebasedev/global/images/IMAGE
;sourceimage for aws
sourceimage = ami-IMAGE
service_account for gcp only
service_account = SERVICE_ACCOUNT
ssh_private_key = /home/USER/.ssh/id_rsa
ssh_public_key = /home/USER/.ssh/id_rsa.pub
;make sure CloudyCluster and Automaton are in the same directory
;set to true if sourceimage is a dev or prod image or set to false if sourceimage is a userapps image which will make a new build
dev_image = true/false
;configuration file for the specified jobs
job_config = jobtest.config
;set to true to delete the cluster even if it fails
delete_on_failure = true/false
output_part1 = /home/USER/
output_part2 = %%Y%%m%%d-%%H%%M
email_flag = true/false
;leave unchanged if email is set to false
;smtp_port = smtp-relay.gmail.com
;port = 587
;from_addr = tester@omnibond.com
;to_addr = TO
;output_url = OUTPUT_URL
