[tester]
;the username for the created cluster
username = USER
;set cloudType as aws or gcp
cloudType = aws/gcp
;KeyName, vpc_id and subnet_id is for aws only
KeyName = YOUR KEYPAIR NAME
vpc_id = YOUR VPC ID
subnet_id = YOUR SUBNET ID
region = YOUR REGION
az = YOUR AVAILABILITY ZONE
scheduler = Torque/Slurm
;if you want to change the environment's instance type for qwiklabs or other uses, i.e n1-standard-1
env_type = YOUR INSTANCE TYPE
;project_name is for gcp only
project_name = cloudyclusterfirebasedev
;sourceimage for gcp
sourceimage = projects/cloudyclusterfirebasedev/global/images/IMAGE
;sourceimage for aws
sourceimage = ami-IMAGE
;version 3.2.1
;for a more updated version visit https://aws.amazon.com/marketplace/pp/prodview-am3yf3mjcj2bs
cft_url = https://awsmp-fulfillment-cf-templates-prod.s3-external-1.amazonaws.com/73bcd10f-81b6-4fbb-b113-6e5e72ec1f89.052caefc-0b6c-416f-9e8f-e45c75c7c570.template
;service_account for gcp only
service_account = SERVICE_ACCOUNT
ssh_private_key = /home/USER/.ssh/id_rsa
ssh_public_key = /home/USER/.ssh/id_rsa.pub
;make sure CloudyCluster and Automaton are in the same directory
;set to true if sourceimage is a dev or prod image or set to false if sourceimage is a userapps image which will make a new build
dev_image = true/false
;configuration file for the specified jobs
job_config = jobtest.config
;set to true to delete the cluster even if it fails
delete_on_failure = true/false
output_part1 = /home/USER/
output_part2 = %%Y%%m%%d-%%H%%M
email_flag = true/false
;leave unchanged if email is set to false
;smtp_port = smtp-relay.gmail.com
;port = 587
;from_addr = tester@omnibond.com
;to_addr = TO
;output_url = OUTPUT_URL
